__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
env/
.venv/
ENV/
.env
instance/
.webassets-cache
.vercel/
.DS_Store
.idea/
.vscode/
*.sqlite3
*.log
.env
.flaskenv
*.log
coverage/
htmlcov/
.tox/